<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>끝말잇기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Moirai+One&family=Pacifico&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="button.css" />
  </head>
  <body>
    <div id="root">
      <img v-if="showImage" src="제목 4.png" alt="Your Image" width="200px" />
      <div>{{word}}</div>
      <form v-on:submit="onSubmitForm">
        <input type="text" v-model="value" ref="answer" id="text" />
        <button type="submit" id="button">입력!</button>
      </form>
      <div>{{result}}</div>
    </div>
    <script>
      const app = new Vue({
        el: "#root",
        data: {
          word: "델리",
          result: "",
          value: "",
          showImage: true,
        },
        mounted() {
          setTimeout(() => {
            this.showImage = false;
          }, 3000); // 3초 후에 이미지가 사라짐
        },
        methods: {
          onSubmitForm(e) {
            e.preventDefault();
            if (this.word[this.word.length - 1] === this.value[0]) {
              this.result = "딩동댕";
              this.word = this.value;
              this.value = "";
              this.$refs.answer.focus();
            } else {
              this.result = "틀렸어";
              this.value = "";
              this.$refs.answer.focus();
            }
          },
        },
      });
    </script>
  </body>
</html>
